@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
}

html{
	font-size: 62.5%;
}

body{
	overflow-x: hidden;
	background-image: url(../img/fondo2.jpg);
	opacity: 1.0;
	background-attachment: fixed;
}

h1{
	color: #4F5B67;
	font-size: 2.7rem;
}
h2{
	font-size: 2.5rem;
	color: #4F5B67;
}
h3{
	color: #4F5B67;
	font-size: 2.2rem;
	font-style: italic;
}
h4{
	color: #D9DDE4;	
	font-size: 1.5rem;
}

p{
	color: #50627C;
	font-size: 1.7rem;
}

.nav{
	position: sticky;
}

.bg-gray{
	background-color: rgba(75, 75, 75, 0.75);
}

.table-gray{
	background-color: rgba(119, 136, 153, 0.2);
	color: #50627C;
	font-size: 1.5rem;
	padding: 20px;
	width: 90%;
	margin: auto;
	padding: 30px 10px;
}

.icons{
	font-size: 2.5rem;
	color: #D9DDE4;
}

.btn-color{
	background-color: rgba(119, 136, 153, 0.6);
	color: #50627C;
	font-size: 1.5rem;
	padding: 20px;
	width: 90%;
	margin: auto;
	padding: 30px 10px;
}

#nav ul li{
	list-style: none;
	margin: 20px;
}

	#nav ul li a{
		color: #D9DDE4;
		text-decoration: none;
		font-size: 1.8rem;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2%;
		transition: background-size .3s;
	}

		#nav ul li a:hover{
			color: whitesmoke;
			font-weight: 600;
			background-size: 100% 2px;
		}

 article ul li a{
	text-decoration: none;
	color: #4F5B67;
	font-size: 1.8rem
}


article img{
	width: 70%;
}

.button{
	color: whitesmoke;
	background-color: rgb(75, 75, 75);
}

.maps{
	padding: 20px;
	width: 80%;
	margin: auto;
	padding: 30px 10px;
}

/** animaciones**/

.scale:hover{
	transform: scaleX(1.1);
}


